/* styles */
@mixin resetMargin {
  margin: 0;
  padding: 0;
}

@mixin whiteRectangle {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(6px);
}

@mixin gridColumns1fr {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

@mixin flexSection {
  display: flex;
  width: 1280px;
  max-width: 100%;
}

@mixin lineAfter {
  content: '';
  width: 100%;
  bottom: 0;
  right: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
}

@mixin lineBefore {
  content: '';
  width: 100%;
  top: 0;
  right: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
}

@mixin backgroundImg($url) {
  background-image: url($url);
  background-repeat: no-repeat;
}

@mixin maxWidth($width) {
  max-width: $width;
  width: 100%;
}

/* media queries */
@mixin media_1760 {
  @media screen and (max-width: 1760px) {
    @content;
  }
}

@mixin media_1280 {
  @media screen and (max-width: 1280px) {
    @content;
  }
}

@mixin media_810 {
  @media screen and (max-width: 810px) {
    @content;
  }
}

@mixin media_740 {
  @media screen and (max-width: 740px) {
    @content;
  }
}

@mixin media_435 {
  @media screen and (max-width: 435px) {
    @content;
  }
}
