@mixin resetMargin {
  margin: 0;
  padding: 0;
}

@mixin whiteRectangle {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(6px);
}

@mixin gridColumns1fr {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
