@mixin resetMargin {
  margin: 0;
  padding: 0;
}

@mixin whiteRectangle {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(6px);
}

@mixin gridColumns1fr {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

@mixin flexSection {
  display: flex;
  width: 1280px;
  max-width: 100%;
}

@mixin lineAfter {
  content: '';
  width: 100%;
  bottom: 0;
  right: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
}

@mixin lineBefore {
  content: '';
  width: 100%;
  top: 0;
  right: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
}
