.button {
  background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF7347 73.78%);
  border-radius: 8px;
  text-transform: uppercase;
  color: $colorWhite;
  border: none;
  box-sizing: border-box;
  padding: 20px 45px;
  cursor: pointer;
  width: max-content;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  justify-self: center;
}

.button_gradient_false {
  background: #FF7B00;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.15;
}

.button_background_transparent {
  background: transparent;
  border: 1px solid #C9D2DD;
}

.button_color_dark {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #45515F;
}

.button_place_get-money {
  justify-self: start;
  margin-left: 16.5%;
  margin-top: 26px;
}

.button_place_footer {
  border: 1px solid #FEFEFE;
  color: #FEFEFE;
  padding-top: 13px;
  padding-bottom: 13px;
}
