.clients {
  @include gridColumns1fr;
  padding: 55px 0 65px;
  width: 100%;
  @include backgroundImg('../img/clients-background.png');
  background-size: cover;

  @include media_1760 {
    padding-bottom: 60px;
  }

  @include media_810 {
    padding: 32px 0 34px;
  }

  &__list {
    @include resetMargin;
    list-style-type: none;
    display: flex;
    column-gap: 27px;
    margin-top: 37px;

    @include media_1760 {
      column-gap: 15px;
    }
  }

  &__person {
    min-width: 408px;
    width: max-content;
    @include whiteRectangle;
    box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
    border-radius: 22px;
    padding: 25px 36px 25px 75px;
    box-sizing: border-box;
    position: relative;
    cursor: default;

    @include media_1760 {
      min-width: 376px;
    }

    @include media_810 {
      min-width: 350px;
    }

    @include media_435 {
      min-width: 340px;
    }
  }

  &__person_paid {
    @include media_1280 {
      display: none;
    }
  }

  &__person_success {
    @include media_740 {
      display: none;
    }
  }

  &__icon {
    display: block;
    position: absolute;
    top: calc(50% - 14px);
    left: 25px;
  }

  &__name {
    @include resetMargin;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #45515F;
  }

  &__action {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #536473;
    @include resetMargin;
    padding-top: 6px;
    max-width: 300px;
    width: 100%;
  }
}
