.h1 {
  @include resetMargin;
  font-weight: 600;
  font-size: 48px;
  line-height: 111.5%;
  text-transform: uppercase;
  color: $colorWhite;
  width: 100%;
  margin: 20px 0 15px;
  cursor: default;

  @include media_1280 {
    margin: 25px 0 5px;
    font-size: 37px;
    text-align: center;
  }

  @include media_810 {
    font-size: 36px;
  }
}
