.menu {
  @include maxWidth(472px);

  &__list-link {
    @include resetMargin;
    display: flex;
    column-gap: 42px;
    list-style-type: none;
    justify-content: center;
    position: relative;

    @include media_810 {
      column-gap: 20px;
    }

    @include media_740 {
      display: none;
    }

    &_footer {
      @include media_740 {
        display: flex;
      }

      &::before {
        @include media_740 {
          @include lineBefore;
        }
      }
    }

    &_mobile {
      display: flex;
      position: absolute;
      right: 20px;
      flex-direction: column;
      row-gap: 10px;
      padding: 10px;
      background: linear-gradient(81.55deg, #FF9F47 0%, #FFC83E 100%);
      border-radius: 8px;
      z-index: 10;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    color: $colorWhite;
    text-decoration: none;

    @include media_1280 {
      font-size: 14px;
    }
  }
}

.menu_footer {
  @include media_1360 {
    grid-area: menu;
    justify-self: center;
    position: relative;
    padding-top: 30px;
    max-width: 1280px;

    @include media_740 {
      width: 100%;
    }
  }

  &::before {
    @include lineBefore;

    @include media_740 {
      display: none;
    }
  }
}
