.menu {
  &__list-link {
    @include resetMargin;
    display: flex;
    column-gap: 60px;
    max-width: 472px;
    width: 100%;
    list-style-type: none;
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    color: $colorWhite;
    text-decoration: none;
  }
}
