.payment {
  background: #F6F9FC;
  backdrop-filter: blur(6px);
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  box-sizing: border-box;
  max-width: 140px;
  width: 100%;

  @include media_1280 {
    row-gap: 12px;
  }

  &__logo {
    display: block;
    width: 100px;
    height: 54px;
    object-fit: contain;
    margin: 35px 20px 0;

    &_cach {
      object-fit: none;
    }

    @include media_1280 {
      width: 90px;
      height: 48px;
      margin-top: 32px;
    }

    @include media_740 {
      widows: 72px;
      height: 38px;
    }
  }

  &__next-button {
    box-sizing: border-box;
    cursor: pointer;
    width: 18px;
    height: 10px;
    margin: 0 auto 23px;
    justify-self: center;
    background-color: transparent;
    border: none;
    @include backgroundImg('../img/button-arrow-right.svg');
    background-size: contain;
  }
}
