.process {
  background-color: $bgGrey;
  padding: 45px 0;
  box-sizing: border-box;
  @include gridColumns1fr;
  position: relative;

  &::before {
    border: 1px solid rgba(69, 81, 95, 0.05);
    content: '';
    position: absolute;
    @include maxWidth(1280px);
    top: 0;

    @include media_1760 {
      display: none;
    }
  }

  @include media_1280 {
    padding: 30px 16px 70px;
  }

  @include media_740 {
    padding: 25px 16px 50px;
  }

  &__list {
    @include resetMargin;
    list-style-type: none;
    display: grid;
    @include maxWidth(1280px);
    align-items: start;
    margin: 50px auto 40px;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

    @include media_1280 {
      @include maxWidth(650px);
    }

    @include media_740 {
      grid-template-columns: 1fr;
      row-gap: 80px;
      margin: 94px auto 84px;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    @include maxWidth(248px);

    @include media_740 {
      display: flex;
      column-gap: 30px;
      @include maxWidth(328px)
    }

    @include media_435 {
      column-gap: 20px;
    }
  }

  &__icon {
    display: block;
    width: 68px;
    height: 77px;
  }

  &__point {
    width: 34px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    @include resetMargin;
    font-weight: 500;
    font-size: 16px;
    line-height: 145.5%;
    padding: 6px 0;
    color: #D6D3D3;
    margin-top: 30px;
    position: relative;

    &::before {
      content: '';
      @include lineProcess;
      width: 500%;
      top: 14px;
      left: -495%;

      @include media_1280 {
        width: 250%;
        left: -215%;
      }

      @include media_740 {
        @include lineProcess740;
        top: -70px;
      }
    }

    &::after {
      @include lineProcess;
      width: 400%;
      top: 14px;
      left: 34px;

      @include media_1280 {
        width: 250%;
        left: 34px;
      }

      @include media_740 {
        @include lineProcess740;
        top: 32px;
      }
    }

    &_success {
      background-color: #FFA147;
      color: $colorWhite;

      &::before {
        @include lineProcess;
        background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF9F47 73.78%);
        top: 14px;
        left: -385%;
        width: 400%;

        @include media_1280 {
          width: 250%;
          left: -240%;
        }

        @include media_740 {
          @include lineProcess740;
          background: linear-gradient(100deg, #FFC83E 33.93%, #FF9F47 73.78%);
          top: -70px;
        }
      }
    }
  }

  &__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 132%;
    text-align: center;
    color: #45515F;
    @include maxWidth(220px);
    @include resetMargin;
    margin-top: 20px;
    cursor: default;

    &_height_2-row {
      max-width: 145px;
    }

    @include media_740 {
      text-align: left;
      max-width: 160px;
    }
  }
}
