.section-title {
  @include resetMargin;
  font-weight: 600;
  font-size: 38px;
  line-height: 45px;
  color: #45515F;
  cursor: default;
  text-align: center;
}

.section-title_color_white {
  color: $colorWhite;
}

.section-title_position_left {
  max-width: 1280px;
  width: 100%;
  text-align: left;

  @include media_1280 {
    text-align: center;
  }
}
