.ways-to-get {
  @include whiteRectangle;
  @include gridColumns1fr;
  padding: 55px 0 45px;
  box-sizing: border-box;

  @include media_740 {
    padding: 35px 0 42px;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 13px;
    line-height: 145.5%;
    color: #45515F;
    @include resetMargin;
    margin-top: 15px;

    @include media_740 {
      margin-top: 23px;
    }
  }

  &__list {
    @include resetMargin;
    margin: 45px auto 30px;
    list-style-type: none;
    display: flex;
    column-gap: 35px;

    @include media_1280 {
      margin-bottom: 45px;
      column-gap: 15px;
    }

    @include media_740 {
      margin: 30px auto 38px;
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 18px;
      justify-content: center;
    }
  }
}
